@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;800&display=swap");

* {
  background-color: black;
  color: #dce2e2;
}

p {
  font-family: "Bitter", serif;
  width: 300px;
}

h1 {
  font-family: "Bitter", serif;
  font-weight: 800;
}

button {
  height: 45px;
  width: 130px;
}

/********************************header*******************/

.header {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.filter {
  margin: 0 20px;
  border: none;
  transition: background-color 0.5s ease;
  height: 50px;
  border-radius: 5px;
}

.filter:hover {
  background-color: #eff5f5;
  color: #161919;
}

.AddMvBtn {
  border: none;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.AddMvBtn:hover {
  background-color: #eff5f5;
  color: #161919;
}

span:hover {
  background-color: #eff5f5;
  color: #161919;
  cursor: pointer;
}

/************************Modal******************/

div.modal-content {
  border: none;
}

div.modal-header {
  border: none;
}

div.modal-body {
  border: none;
}

div.modal-footer {
  border: none;
}

input.form-control {
  background: black;
  border-top: black;
  border-right: black;
  border-left: black;
  border-radius: 0;
}

textarea.form-control {
  background: black;
  border-top: black;
  border-right: black;
  border-left: black;
  border-radius: 0;
}

.modalBtnSave {
  border: none;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.modalBtnCancel {
  border: none;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.modalBtnSave:hover {
  background-color: #eff5f5;
  color: #8ec664;
}

.modalBtnCancel:hover {
  background-color: #878a8a;
  color: #f44545;
}

/*****************************Movie Card**************************/
.MovieCard {
  width: 300px;
  /* height: 900px; */
}

.img {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.watchTrailer {
  font-weight: bold;
  background: none;
  color: #fff;
  transition: 0.5s ease;
  opacity: 0;
  float: inherit;
  position: relative;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.Poster:hover .img {
  opacity: 0.3;
}

.Poster:hover .watchTrailer {
  opacity: 1;
}

/************************Movie List ****************************/
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
