@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;800&display=swap");
* {
  background-color: black;
  color: #dce2e2;
}
p {
  font-family: "Bitter", serif;
  width: 300px;
}

h1 {
  font-family: "Bitter", serif;
  font-weight: 800;
}

button {
  height: 45px;
  width: 100px;
}

/********************************header*******************/

.header {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.filter {
  margin: 0 20px;
}

/************************Modal******************/

/*****************************Movie Card**************************/
.MovieCard {
  width: 300px;
  /* height: 900px; */
}

/************************Movie List ****************************/
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
